<div class="w-screen h-screen bg-darkest flex justify-center items-center">
	<div class="bg-light rounded-lg border md:w-1/3 w-full m-8 transition-all p-5">
		<div class="text-darkest text-center font-extrabold text-3xl mb-5">LOGIN</div>

		<div class="text-center mb-5">
			<form name="loginForm">
				<input
					type="text"
					class="font-semibold focus:ring-2 focus:ring-dark rounded-lg w-full bg-light text-darkest"
					placeholder="Username"
					ng-model="username"
					ng-class="{'border-red-600 border-2': loginForm.username.$invalid && loginForm.username.$dirty}"
					name="username"
					required
				/>
				<input
					type="password"
					class="mt-2 font-semibold focus:ring-2 focus:ring-dark rounded-lg w-full bg-light text-darkest"
					placeholder="Password"
					ng-model="password"
					ng-class="{'border-red-600 border-2': loginForm.password.$invalid && loginForm.password.$dirty}"
					name="password"
					required
				/>
			</form>
		</div>
		<div class="text-center text-red-600">{{errorMsg}}</div>
		<custom-button
			on-click="onLogin()"
			class="bg-primary w-full text-dark rounded-lg"
			name="Login"
			loading="loading"
		></custom-button>
		<div class="text-end">
			<span
				ng-click="toSignup()"
				class="text-dark hover:text-primary cursor-pointer relative after:content-[' '] after:absolute after:left-0 after:-bottom-1 after:h-1 after:w-0 hover:after:w-full after:bg-primary after:transition-all font-bold transition-all"
			>
				Sign Up
			</span>
		</div>
	</div>
</div>
